#update-button {
    background-color: var(--button-base);
    border: none;
    color: white;
    padding: 80px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.update-button-loading  {
    /*background-color: red !important;
    transform: rotate(-1deg);
    */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px,0,0);
    }
    20%,80% {
        transform: translate3d(2px, 0,0);
    }
    30%,50%,70% {
        transform: translate3d(-4px,0,0);
    }
    40%,60% {
        transform: translate3d(4px,0,0);
    }
}
#update-button:hover {
    background-color: var(--button-hover);
    color: white;
}
#update-button:hover {
    background-color: var(--button-base) ;
}
#runTally, #name {
    font-size: 50px;
}
#name {
    text-transform: capitalize;
}
.run {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    width: 150px;
}
.run:hover {
    cursor: pointer;
    background-color: grey;
    /*color: white;*/
}
.run-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 200px;
}
.trash {
    display: flex;
flex-direction: column;
justify-content: center;

    
}
.trash-icon:hover {
    color: red;
}

.grid-sidebar-left {
    grid-area: sidebar-left;
}
.grid-sidebar-right {
    grid-area: sidebar-right;
}


.grid-main {
    grid-area: main;
}

.wrapper {
    height: 75vh;
    display: grid;
    grid-template-areas: "sidebar-left main sidebar-right";
    grid-template-columns: 300px auto 300px;
    
    
    
}
@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-areas: 
        "sidebar-left"
        "main" 
        "sidebar-right";
    }
    body {
        overflow: unset !important;
    }
    .input {
        margin-bottom: 0;
    }
    .col-1 {
        margin-bottom: 0;
    }
}
body {
    max-width: unset;
    height: 100vh;
    background: rgb(32,43,56);
    background: linear-gradient(40deg, rgba(32,43,56,1) 55%, rgba(52,67,85,1) 100%); 
    
    overflow: hidden; 
    
}
.col-1 {
    margin: 2rem;
}
.input {
    margin-bottom: 4rem;
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
